@(pagename: String)(body: => Html)

@topImage = {
      <div class="message">
        <a class="scalatestLogo" href="/">
          <img src="@routes.Assets.at("images/scalaTestSmallestHeading.gif")"
               width="400" height="60" alt="ScalaTest"/>
        </a>
      </div>
}

@main(pagename, topImage, "UserGuideContainer") {
  <table width="100%" cellspacing="10px">
  <tr valign="top">
  <td align="left" width="20%">
  @sidenav(pagename)
  </td>
  <td width="80%">
  @body
  </td>
  </tr>
  </table>
}


