@userGuidePage("Running your tests") {
<div style="text-align: left">

<h1>Running your tests</h1>

<p>
How can you run your tests? Let me count the ways:
</p>

<ol>
<li>On the command line, <a href="using_the_runner">use the <code>Runner</code></a></li>
<li>In the Scala interpreter, <a href="invoking_execute">invoke <code>execute</code></a> or <a href="using_the_scalatest_shell">use the ScalaTest shell</a></li>
<li>From Maven, use the <a href="using_the_scalatest_maven_plugin">ScalaTest Maven Plugin</li>
<li>From sbt, <a href="using_scalatest_with_sbt">use the <code>ScalaTestFramework</code></a></li>
<li>Via Ant, <a href="using_the_scalatest_ant_task">use the <code>ScalaTestAntTask</code></a></li>
<li>From IntelliJ IDEA, <a href="using_junit_runner">use <code>JUnitRunner</code></a></li>
<li>From the Scala IDE for Eclipse, <a href="using_scalatest_with_eclipse">use the ScalaTest Eclipse plugin</a></li>
<li>From NetBeans, <a href="using_junit_runner">use <code>JUnitRunner</a></code></li>
</ol>

<p>
Next, learn about <a href="/user_guide/sharing_fixtures">sharing fixtures</a>.
</p>
</div>
}

