@userGuidePage("Using JUnitRunner") {
<div style="text-align: left">

<h1>Using <code>JUnitRunner</code></h1>

ScalaTest includes a JUnit <code>Runner</code> that knows how to run any ScalaTest <code>Suite</code>.
This enables you to provide a JUnit <code>RunWith</code> annotation on any
ScalaTest <code>Suite</code>. Here's an example:

<pre class="stHighlighted">
<span class="stReserved">import</span> org.junit.runner.RunWith
<span class="stReserved">import</span> org.scalatest.junit.JUnitRunner
<span class="stReserved">import</span> org.scalatest.FunSuite
<br />@@<span class="stType">RunWith</span>(classOf[<span class="stType">JUnitRunner</span>])
<span class="stReserved">class</span> <span class="stType">ExampleSuite</span> <span class="stReserved">extends</span> <span class="stType">FunSuite</span> {
  <span class="stLineComment">// ...</span>
}
</pre>

<p>
This <code>RunWith</code> annotation will enable the <code>ExampleSuite</code> class
to be run by JUnit 4.
</p>

</div>
}
