@import controllers.Application.latestScaladoc

@userGuidePage("Other goodies") {
<div style="text-align: left">

<h1>Other goodies</h1>

<p>
ScalaTest has several <em>helper traits</em> that can help you address specific problems.
This page gives tutorials on most of them.
</p>

<p>
Here are links to the helper traits described on this page:
</p>

<ul>
<li><a href="#inside">Inside</a></li>
<li><a href="#optionValues">OptionValues</a></li>
<li><a href="#eitherValues">EitherValues</a></li>
<li><a href="#partialFunctionValues">PartialFunctionValues</a></li>
<li><a href="#privateMethodTester">PrivateMethodTester</a></li>
</ul>

<a name="inside"></a>
<h2>Using <code>Inside</code></h2>

<p>
ScalaTest's <a href="@latestScaladoc/#org.scalatest.mock.EasyMockSugar"><code>EasyMockSugar</code></a> trait provides some basic syntax sugar for <a href="http://easymock.org/" target="_blank">EasyMock</a>.
</p>

<a name="optionValues"></a>
<h2>Using <code>OptionValues</code></h2>

<a name="eitherValues"></a>
<h2>Using <code>EitherValues</code></h2>

<a name="partialFunctionValues"></a>
<h2>Using <code>PartialFunctionValues</code></h2>

<a name="privateMethodTester"></a>
<h2>Using <code>PrivateMethodTester</code></h2>

<p>
Next, learn about the BDD style and <a href="/user_guide/tests_as_specifications">tests as specifications</a>.
</p>
</div>
}
