@nonHomePage("About") {

<div style="text-align: left">
<h1>About ScalaTest</h1>

<p>
ScalaTest was written by Bill Venners, George Berger, Chee Seng Chuah, and
other contributors starting in late 2007.  ScalaTest, which is almost
exclusively written in Scala, follows and improves upon the Java code
and design of Artima SuiteRunner, a testing tool also written
primarily by Bill Venners, starting in 2001. Over the years a few
other people contributed to SuiteRunner as well, including:
</p>

<ul>
<li>Mark Brouwer</li>
<li>Chua Chee Seng</li>
<li>Chris Daily</li>
<li>Matt Gerrans</li>
<li>John Mitchel</li>
<li>Frank Sommers</li>

</ul>

Several people have helped with ScalaTest, including:

<ul>
<li>Josh Cough</li>
<li>Corey Haines</li>
<li>Colin Howe</li>
<li>Dianne Marsh</li>
<li>Joel Neely</li>
<li>Mike Pilquist</li>
<li>Jon-Anders Teigen</li>
<li>Dick Wall</li>
<li>Daniel Watson</li>
</ul>

<p>
Originally, ScalaTest was hosted at java.net, but as of release 1.3 was been moved to Google Code.
You can browse the source code:
</p>

<p>
<a href="http://code.google.com/p/scalatest/source/browse/">http://code.google.com/p/scalatest/source/browse/</a>
</p>

<p>
You can checkout a read-only version of the source from Google Code with this command:
</p>

<p>
<code>svn checkout http://scalatest.googlecode.com/svn/trunk/ scalatest-read-only</code>
</p>

<p>
This command will build and run most of the tests:
</p>

<p>
<code>$ ant test</code>
</p>

<p>
Issues can be submitted here:
</p>

<p>
<a href="http://code.google.com/p/scalatest/issues/list">http://code.google.com/p/scalatest/issues/list</a>
</p>

</div>

}
