@nonHomePage("Community") {
<div style="text-align: left">

<h1>ScalaTest community</h1>

<p>
For help, you can post to the scalatest-users mailing list (Google group) at: 
</p>

<ul>
<li><a href="http://groups.google.com/group/scalatest-users">http://groups.google.com/group/scalatest-users</a></li>
</ul>

<p>
Or, you can post to the ScalaTest Forum at:
</p>

<ul>
<li><a href="http://www.artima.com/forums/forum.jsp?forum=284">http://www.artima.com/forums/forum.jsp?forum=284</a></li>

</ul>

<p>
Issues can be submitted here:
</p>

<ul>
<li><a href="http://code.google.com/p/scalatest/issues/list">http://code.google.com/p/scalatest/issues/list</a></li>
</ul>

</div>
}
