@nonHomePage("Quick Start") {

<div style="text-align: left">

<h1>ScalaTest quick start</h1>

<p>
ScalaTest supports three main styles of testing out of the box. If you don't have a preference, <a href="getting_started_with_fun_suite">start with <code>FunSuite</code></a>:
</p>

<p>
<ul>
<li>For test-driven development (TDD) <a href="@routes.Application.gettingStartedWithFunSuite")">start with <code>FunSuite</code></a></li>
</ul>
</p>
<p>
<ul>
<li>For behavior-driven development (BDD), <a href="getting_started_with_fun_spec">start with <code>FunSpec</code></a></li>
</ul>
</p>
<p>
<ul>
<li>For functional, integration, or acceptance testing, <a href="getting_started_with_feature_spec">start with <code>FeatureSpec</code></a></li>
</ul>
</p>

<p>
ScalaTest also supports writing <a href="writing_junit_and_testng_tests_in_scala">JUnit and TestNG</a> tests in Scala.
</p>

<p>
(For a quick guide to ScalaTest's style traits, see the <a href="user_guide/selecting_a_style#styleTraitUseCases">Style trait use cases</a> table in the user guide.)
</p>

<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
</div>

}
