@nonHomePage("Writing JUnit and TestNG tests in Scala") {
<div style="text-align: left">

<h1>Writing JUnit and TestNG tests in Scala</h1>

<p>
One way to integrate ScalaTest with existing tools is to run your ScalaTest tests through JUnit.
With ScalaTest's <a href="/user_guide/using_junit_runner"><code>JUnitRunner</code> annotation</a>, you can run any ScalaTest <code>Suite</code> written
in any style with JUnit 4.
</p>

<p>
If you would like to write native JUnit or TestNG tests in Scala, see:
</p>

<ul>
<li>Getting started with <a href="getting_started_with_junit_4_in_scala">JUnit 4 in Scala</a></li>
<li>Getting started with <a href="getting_started_with_testng_in_scala">TestNG in Scala</a></li>
<li>Getting started with <a href="getting_started_with_junit_3_in_scala">JUnit 3 in Scala</a></li>
</ul>

</div>
}

